@media (max-width: 1200px) {

    .reason {
        &__spikes {
            display: none;
        }
    }
}

@media (max-width: 992px) {
    .promo {
        &__nav {
            display: none;
        }

        &__work {
            display: none;
        }
    }

    .about {

        &__descr {
            margin-top: 55px;
        }

        &__text {
            margin-top: 55px;
        }
    }


    .contacts {

        &__items {
            margin: 55px 0;

        }

        &__block:nth-child(1) {
            margin-bottom: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }



}

@media (min-width: 992px) {
    .promo {
        &__buttons {
            max-width: 275px;
        }
    }

    .about {

        &__item {
            width: 47%;
        }
    }

    .price {
        &__list {
            max-width: 47%;
        }
    }

    .review {
        &__item {
            max-width: 47%;
        }
    }

    .reason {
        &__wrapper {
            max-width: 47%;

        }
    }

}

@media (max-width: 767px) {
    .promo {
        background: linear-gradient(360deg, rgba(11,11,11, 1), rgba(11,11,11, 0)),
        url('../img/promo_logo.svg') no-repeat right 5% bottom 60% / 250px, 
        url('../img/promo_bg_gold_mobile.jpg') center center / cover no-repeat;


        &__work {
            display: none;
        }

        &__btn_price {
            display: none;
        }
    }

    .works {
        &__item {
            img {
                max-height: 550px;
                object-fit: cover;

            }
        }
        &__item:not(:first-child) {
            margin-top: 55px;

        }
    }

    .review {
        &__person {
            img {
                width: 40px;
                height: 40px;

            }
        }
    }
    
}

@media (max-width: 576px) {
    .contacts {
        &__block:nth-child(2)  {
            iframe {
                height: 400px;
            }
    
        }
    }
}