.promo {
    padding: 50px 0 70px 0;
    min-height: 767px;
    background: linear-gradient(360deg, rgba(11,11,11, 1), rgba(11,11,11, 0)),
                // url('../img/promo_logo.svg') no-repeat right 15% bottom 29% / 550px, 
                url('../img/promo_bg.jpg') center center / cover no-repeat;
        

    &__header {
        @include RegularText;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            li {
                color: $white-color;
                transition: all 0.3s;
            }

        }
    }

    &__title {
        @include Heading2;
        margin-top: 100px;
        span {
            @include Heading1;

        }
    }

    &__text {
        @include RegularText;
        margin-top: 45px;

    }

    &__buttons {
        margin-top: 55px;
    }

    &__btn_price {
        margin-top: 11px;
        display: inline-block;
        width: 225px;
        font-size: 16px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.6);
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        transition: all 0.3s;

        &::after {
            content: '';
            position: absolute;
            left: -135px;
            bottom: -1px;
            width: 120px;
            height: 8px;
            background: url('../icons/promo_price_arrow.svg') no-repeat center center / cover;
            transition: all 0.3s ease-in-out;
        }
        

    }

    &__contacts {
        @include ButtonText;
        position: relative;
        margin-top: 60px;
        color: $white-color;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: right;
        z-index: 6;

    }

}